In [2]:
from py_nl2sql.workflow import NL2SQLWorkflow
from py_nl2sql.db_instance import DBInstance
from py_nl2sql.models.llm import LLM

llm = LLM()
instance = DBInstance(
    db_type="mysql",
    db_name="classicmodels",
    need_sql_sample=True,
    db_user="root",
    db_password="",
    db_host="127.0.0.1",
    db_port="3306",
    llm=llm,
)

In [3]:
query = "give me details of customer and their order count"
service = NL2SQLWorkflow(instance, query, llm)
res = service.get_response()
print(res)

Here are the details of the customers along with their order counts:

1. **Customer Number**: 103
   - **Customer Name**: Atelier graphique
   - **Contact First Name**: Carine
   - **Contact Last Name**: Schmitt
   - **Order Count**: 3

2. **Customer Number**: 112
   - **Customer Name**: Signal Gift Stores
   - **Contact First Name**: Jean
   - **Contact Last Name**: King
   - **Order Count**: 3

3. **Customer Number**: 114
   - **Customer Name**: Australian Collectors, Co.
   - **Contact First Name**: Peter
   - **Contact Last Name**: Ferguson
   - **Order Count**: 5

4. **Customer Number**: 119
   - **Customer Name**: La Rochelle Gifts
   - **Contact First Name**: Janine
   - **Contact Last Name**: Labrune
   - **Order Count**: 4

5. **Customer Number**: 121
   - **Customer Name**: Baane Mini Imports
   - **Contact First Name**: Jonas
   - **Contact Last Name**: Bergulfsen
   - **Order Count**: 4

These results show a list of customers with their respective order counts.

In [7]:
print(service.origin_query)

give me details of customer and their order count

In [8]:
print(service.text_to_sql_query)

Get the details of customers along with their order count

In [9]:
print(service.interpretation_query)

Provide the order count for each customer

In [6]:
print(service.related_table_summary)

['products(productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP), and index keys: productLine(`productLine`) ', 'payments(customerNumber, checkNumber, paymentDate, amount)', 'orderdetails(orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber), and index keys: productCode(`productCode`) ', 'orders(orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber), and index keys: customerNumber(`customerNumber`) ', 'customers(customerNumber, customerName, contactLastName, contactFirstName, phone, addressLine1, addressLine2, city, state, postalCode, country, salesRepEmployeeNumber, creditLimit), and index keys: salesRepEmployeeNumber(`salesRepEmployeeNumber`) ']

In [10]:
print(service.final_sql_query)

SELECT `customers`.`customerNumber`, `customers`.`customerName`, `customers`.`contactFirstName`, `customers`.`contactLastName`, COUNT(`orders`.`orderNumber`) AS `orderCount` FROM `customers` LEFT JOIN `orders` ON `customers`.`customerNumber` = `orders`.`customerNumber` GROUP BY `customers`.`customerNumber` LIMIT 5;

In [3]:
print(service.sql_result)

[('S12_1099', '1968 Ford Mustang', Decimal('95.34'))]